@import url('https://fonts.googleapis.com/css?family=Jura:300');
body {
    padding: 0;
    margin: 0;
    background-color: wheat;
    font-family: 'Jura';
    font-weight: 400;
    font-size: 3em;
}